av==15.0.0
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
pyttsx3==2.90
scipy==1.15.3
numpy==1.26.4
matplotlib
hydra-core
ray[default]==2.47.1
click
gymnasium
mujoco
termcolor
flask
python-socketio>=5.13.0
flask_socketio
loguru
lmdb
meshcat
meshcat-shapes
rerun-sdk==0.21.0
pygame
sshkeyboard
msgpack
msgpack-numpy
peft==0.5.0
pyzmq
PyQt6; platform_machine != "aarch64"
pin
pin-pink
timm
tyro
redis
lark
datasets==3.6.0
pandas
evdev; sys_platform == "linux"
pybullet; sys_platform == "linux"
gear
multi-storage-client[boto3,msal,observability-otel]==0.33.0
dm_tree
openai
transformers==4.51.3
albumentations==1.4.18
einops==0.8.1
tianshou==0.5.1
imageio==2.34.2
imageio-ffmpeg
wandb
opencv-python==4.8.0.74
diffusers==0.30.2
ftfy
nvidia-modelopt
nvidia-modelopt-core
tensorrt
openpi-client==0.1.1
huggingface_hub
decord2
deepspeed
tiktoken
sentencepiece
uvicorn
fastapi
moviepy
